{% extends 'index.html' %}

 {% block content %}
<div class="ui equal width grid" style="width:60%;margin: 5px 5px 5px 5px">
		<div class="row">
			<div class="column">
			<div class="ui red segment">
			<div class="ui statistic">
				<div class="value">
					50000
				</div>
				<div class="label">
				Documents
				</div>
				</div>
				</div>
			</div>
			<div class="column">
			<div class="ui blue segment">
				<div class="ui statistic">
				<div class="value">
					20000
				</div>
				<div class="label">
				Views
				</div>
				</div>
				</div>
			</div>

			</div>
		<div class="row">
			<div class="column">
			<div class="ui segment">
				<div class="ui divided items">
				<div class="item">
					<div class="content">
						<div class="header">
							Title Here!
						</div>
						<div class="description">
							Say Something!
						</div>
						<div class="extra">
						<div class="ui label">
							TAG1
							</div>
							<div class="ui label">
							TAG2
							</div>
						</div>
					</div>
					</div>
				</div>
				</div>
			</div>
			</div>
			</div>
  {% endblock %}
